.messenger-container {
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-bottom: 70px;
  height: 100%;
}

.messenger-container.quote-open {
  padding-bottom: 120px;
}

.previous-message-container blockquote {
  max-height: 50px;
  overflow: scroll;
  border-left: 5px solid greenyellow;
  font-size: 0.9em;
}

.previous-message-container span {
    position: absolute;
    right: 15px;
    top: 40px;
    color: red;
}

.message-list-container {
  height: 100%;
}

.message-input-container {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 15px;
  border-top: 1px solid lightgrey;
  background-color: #eee;
}

@media (min-width: 768px) {
  .messenger-container {
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
  }
}

@media (max-width: 768px) {
  .message-input-container {
    padding-left: 10px;
    padding-right: 10px;
  }
}